ScanForEnvFiles=true
ScanGit=true
ScanHeartbleed=true
ScanS3=true
ScanSubdomains=true
ScanEmail=true
ScanShodan=true
ScanGoogle=true

SIMPLY_EMAIL_DIR=~/tools/SimplyEmail

SHODAN_SEARCH_QUERY=port:3389 country:NO
SHODAN_API_KEY=put_your_API_KEY_here

GOOGLE_SEARCH_QUERY=intitle:\"index of\" /.ssh/id_rsa OR id_rsa.pub
GOOGLE_SEARCH_ENGINE=insert_custom_search_engine_id_here
GOOGLE_API_KEY=put_your_API_KEY_here
