ScanForEnvFiles=true
ScanGit=true
ScanHeartbleed=true
ScanS3=true
# Here the scans to run are specified, value has to be true to run a scan
ScanSubdomains=true
ScanEmail=true
ScanShodan=true
ScanGoogle=true

# Filename containing the hosts to scan
HOST_LIST_TO_SCAN_FILENAME=hostnames

# The directory of Simply email, to initiate the python environment
SIMPLY_EMAIL_DIR=~/tools/SimplyEmail

# Shebang is not included for s3scanner, workaround providing full path and running it with python
S3_SCANNER_DIR=~/tools/S3Scanner

# Shodan searches can be separated with commas (,)
SHODAN_SEARCH_QUERY=port:3389 country:NO
SHODAN_API_KEY=put_your_API_KEY_here

# Google searches can be separated with commas (,)
GOOGLE_SEARCH_QUERY=intitle:\"index of\" /.ssh/id_rsa OR id_rsa.pub
GOOGLE_SEARCH_ENGINE=insert_custom_search_engine_id_here
GOOGLE_API_KEY=put_your_API_KEY_here
